<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        let token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        function toggleTodo(id) {
            let token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            todoStatus = document.getElementById(`todo-checkbox-${id}`).checked
            fetch(`/todos/${id}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    completed: todoStatus,
                    _csrf: token
                })
            })
            .then((res) => {
                if (res.ok){
                    window.location.reload();
                }
            })
            .catch((err) => {
                console.log(err);
            })
        }
        function deleteTodo(id){
            let token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            fetch(`/todos/${id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    _csrf: token
                })
            })
            .then((res) => {
                if (res.ok){
                    window.location.reload();
                }
            })
            .catch((err) => {
                console.log(err);
            })
        }
      </script>
      <style>
            .hideMe {
                -moz-animation: cssAnimation 0s ease-in 5s forwards;
                /* Firefox */
                -webkit-animation: cssAnimation 0s ease-in 5s forwards;
                /* Safari and Chrome */
                -o-animation: cssAnimation 0s ease-in 5s forwards;
                /* Opera */
                animation: cssAnimation 0s ease-in 5s forwards;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }
            @keyframes cssAnimation {
                to {
                    width:0;
                    height:0;
                    overflow:hidden;
                    display: none;
                }
            }
            @-webkit-keyframes cssAnimation {
                to {
                    width:0;
                    height:0;
                    visibility:hidden;
                    display: none;
                }
            }
      </style>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <br>
            <a href="/signout">Signout</a>
            <br><br>
            <h1 class="text-xl font-semibold">Welcome Back <%= username %></h1>
            <br>
            <h3 class="text-l font-semibold">Create a ToDo</h3>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="flex gap-2 py-4 align-items-center">
                    <div class="flex-auto">
                        <input type="text" name="title" id="title" placeholder="What's next?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm">
                    </div>
                    <div class="flex-auto">
                        <input type="date" name="dueDate" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1 5 rounded font-medium mr-1 mb-1">Add</button>
                    </div> 
                </div>
            </form> 
            <h3 class="text-l font-semibold">My ToDo's</h3>
            <br>
            <div>
                <%- include('todo.ejs', {todoTitle: "Overdue", data: overDue, id: "overdue"}) %> 
                <%- include('todo.ejs', {todoTitle: "Due Today", data: dueToday, id: "due-today"}) %>
                <%- include('todo.ejs', {todoTitle: "Due Later", data: dueLater, id: "due-later"}) %>
                <%- include('todo.ejs', {todoTitle: "Completed", data: completedItems, id: "completed-items"}) %>
            </div>
            <div class="hideMe">
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <ul class="bg-red-100 rounded border border-red-200 border-2 hideMe">
                        <% for(var i=0; i<messages.error.length; i++) { %>
                                <li class="text-center hideMe"> <%= messages.error[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
                <% if(messages && messages.success && messages.success.length > 0)  { %>
                    <ul class="bg-green-100 rounded border border-green-200 border-2 hideMe">
                        <% for(var i=0; i<messages.success.length; i++) { %>
                                <li class="text-center hideMe"> <%= messages.success[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
                <% if(messages && messages.info && messages.info.length > 0)  { %>
                    <ul class="bg-blue-100 rounded border border-blue-200 border-2 hideMe">
                        <% for(var i=0; i<messages.info.length; i++) { %>
                                <li class="text-center hideMe"> <%= messages.info[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>